*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
}
.carousel-item img{
    width: 100%;
    height: 93vh;
    object-fit: cover;
}
.about_img{
    min-width: 100%;
    max-width: 280px;
}
.services .img{
    height: 100%;
    width: 100%;
}
/* .services .row>*{
    padding-right: 0;
    padding-left:0;
} */

/* .services .row>*{
    padding-left: 0;
    padding-right: 0;
} */

/* responsic layout */
 /* X-Small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }